{% extends 'layouts/app.twig' %}

{% block content %}

    <h2 class="text-3xl font-light border-b border-slate-200 mb-3">National Bank</h2>

    <form method="post" class="grid grid-cols-2 gap-3">
        <div class="bg-slate-50 border border-slate-200 rounded shadow flex flex-col space-y-3 p-3">
            <div class="text-center">
                <h3 class="text-xl font-light">Deposit</h3>
                <p class="text-center text-sm text-slate-500">{{ number_format(user.money) }} Cr. Available</p>
            </div>
            <div class="flex justify-around text-sm">
                {% for button in deposit %}
                    <button name="deposit" value="{{ button }}" class="bg-slate-100 border border-slate-200 px-2 py-1 rounded">{{ number_format(button) }} Cr</button>
                {% else %}
                    <span class="bg-slate-100 border border-slate-200 px-2 py-1 rounded text-slate-400">Insufficient funds</span>
                {% endfor %}
            </div>
        </div>
        <div class="bg-slate-50 border border-slate-200 rounded shadow flex flex-col space-y-3 p-3">
            <div class="text-center">
                <h3 class="text-xl font-light">Withdraw</h3>
                <p class="text-center text-sm text-slate-500">{{ number_format(user.bankmoney) }} Cr. Available</p>
            </div>
            <div class="flex justify-around text-sm">
                {% for button in withdraw %}
                    <button name="withdraw" value="{{ button }}" class="bg-slate-100 border border-slate-200 px-2 py-1 rounded">{{ number_format(button) }} Cr</button>
                {% else %}
                    <span class="bg-slate-100 border border-slate-200 px-2 py-1 rounded text-slate-400">Insufficient funds</span>
                {% endfor %}
            </div>
        </div>
    </form>

{% endblock %}
