{% extends 'layouts/app.twig' %}

{% block content %}

    {% include 'partials/title.twig' with {
        title: cities[user.city_id].name ~ ' Travel',
        links: {
            'Explore': urlFor('explore')
        }
    } %}

    <form method="post" class="grid grid-cols-4 gap-3">
        {% for id, city in cities %}
            {% if user.city_id == id %}
                <div class="border border-slate-300 bg-slate-50 rounded shadow h-32 z-10 overflow-hidden relative group">
                    <img src="/assets/cities/{{ city.slug }}.jpeg" class="object-contain" />
                    <span class="bg-white bg-opacity-75 group-hover:bg-opacity-100 text-slate-700 absolute bottom-0 left-0 right-0 z-10 -rotate-45w text-center">{{ city.name }}</span>
                </div>
            {% else %}
                <button type="submit" name="destination" value="{{ id }}" class="border border-slate-300 bg-slate-50 rounded shadow h-32 z-10 overflow-hidden relative group">
                    <img src="/assets/cities/{{ city.slug }}.jpeg" class="object-contain" />
                    <span class="bg-white bg-opacity-75 group-hover:bg-opacity-100 text-slate-700 absolute bottom-0 left-0 right-0 z-10 -rotate-45w text-center">{{ city.name }}</span>
                </button>
            {% endif %}
        {% endfor %}
    </form>


{% endblock %}
