{% extends 'layouts/app.twig' %}

{% block content %}

    {% include 'partials/title.twig' with {
        title: 'City University',
        links: {
            'Explore': url('explore')
        }
    } %}

    {% if user.course_id %}
        <p>You are currently studying &ldquo;<span class="font-medium">{{ courses.items[user.course_id].name }}</span>&rdquo;. It will be complete in approximately {{ time(user.course_completed) }}.</p>
    {% else %}
        <div class="grid grid-cols-2 gap-3">
            {% for id, course in courses.items %}
                <a href="/university/{{ course.slug }}" class="border border-slate-200 bg-slate-50 flex flex-col items-center justify-between p-3 hover:bg-blue-100 rounded shadow">
                    <span class="font-medium">{{ course.name }}</span>
                    <span class="text-sm">{{ course.cost|number }} Cr</span>
                </a>
            {% endfor %}
        </div>
        {% include 'partials/pagination.twig' with {'page': courses.page, 'pages': courses.pages} %}
    {% endif %}

{% endblock %}
